.Weather {
  text-align: center;
  max-width: 800px;
  padding: 10px;
  background: linear-gradient(to bottom, #f2f3f5 0%, #c7c8c9 100%);
  color: #005689;
  font-family: "Josefin Sans", sans-serif;
}

form {
  margin: 35px;
}

h1 {
  font-size: 72px;
}

h2 {
  padding: 15px;
  font-size: 36px;
}

ul {
  font-size: 22px;
  list-style: none;
}

ul::first-letter {
  text-transform: uppercase;
}

.search-button {
  background: #ff895d;
  font-weight: bold;
  padding: 0, 20px, 0, 20px;
  margin: 10px;
}
.location-button {
  background: #ff895d;
  font-weight: bold;
  padding: 0, 20px, 0, 20px;
  margin: 10px;
}

.today-icon {
  width: 80px;
}

.today-temp {
  font-size: 90px;
}

.last-update {
  font-size: 14px;
}

.forecast {
  margin-top: 50px;
  margin-bottom: 30px;
}

.WeatherForecast-temperature-max {
  font-size: 48px;
}

.WeatherForecast-temperature-min {
  font-size: 48px;
  font-weight: 300;
}

.WeatherForecast-temperature-units {
  font-weight: 300;
}
